[2017-08-23 14:05] JamieMason opened #1 "Add "format" command"
[code]

Runs [fixpack](https://github.com/HenrikJoreteg/fixpack) over each `package.json`.

[2017-08-23 14:12] JamieMason opened #2 "Add "set-range" command"
[code]

The chosen ranges would result in the following formats:

| Range | Result              |
| ----- | ------------------- |
| `<`   | `<1.0.0`            |
| `<=`  | `<=1.0.0`           |
| `''`  | `1.0.0`             |
| `~`   | `^1.0.0`            |
| `^`   | `^1.0.0`            |
| `>=`  | `>=1.0.0`           |
| `>`   | `>1.0.0`            |
| `*`   | `*`                 |
| `.x`  | `1.x

[2018-02-05 12:26] JamieMason opened #3 "feat(cli): add lint and fix commands"
Based on some configuration and a glob for package.json files, exits with 0 or 1 based on whether the files match the configuration. Could be used in CI and/or hooks.

EDIT: create a lint command and a fix command which each combine the existing commands which either list issues or fix them.

[2018-02-06 10:49] JamieMason opened #4 "feat: add fix-mismatched-engines command"

[2018-02-10 12:17] JamieMason commented on #1
Released in 1.2.2

[2018-02-10 12:17] #1 closed

[2018-04-25 07:06] JamieMason opened #5 "Handle multiple --packages globs"
I think currently only one glob can be passed, ensure all commands can accept multiple globs.

[code]

[2018-04-25 07:07] JamieMason opened #6 "Review default value for --packages"
The default value for --packages is currently `"./packages/*/package.json"`, this works well for `list-mismatches` for example but for `format` it should also include the root package.json. Check the default values for each command.

[2018-04-28 20:32] JamieMason commented on #2
Released in 1.3.2 as `syncpack set-semver-ranges`

[2018-04-28 20:32] #2 closed

[2018-04-29 14:52] #5 closed

[2018-04-29 14:53] JamieMason commented on #6
Closed in https://github.com/JamieMason/syncpack/commit/a2b5af017a2152fb40d0522501db64ef739fe5f9.

[2018-04-29 14:53] #6 closed

[2018-05-16 13:32] JamieMason opened #7 "feat: add hoist command"
### hoist

Take a property from multiple package.json files and merge them into the target package.json. When
hoisting dependencies and multiple sources contain the same dependency, the newest version will be
used. When hoisting scripts with the same name, they will be namespaced on the target like so
"build:packagename".

#### Options

[code]

#### Examples

[code]

[2018-08-03 17:34] rosswarren opened #8 "Question: is there a way to use this with custom package directories?"
Both Lerna and Yarn Workspaces allow you to override their package directories. In our project, we are using multiple package directories. Is there a way to pass in this pattern? Alternatively would you agree to this library detecting Lerna / Yarn Workspaces and using their configuration by default to find this?

[2018-08-21 10:39] AlexHayton commented on #7
This sounds really useful!

[2018-08-25 08:40] JamieMason commented on #8
Sorry @rosswarren, I've managed to somehow miss the notification for this issue. You can define the paths to your package.json files like so:

[code]

The values above are the defaults but they can be changed to anything else. You can also pass as many glob patterns as you need. I will improve the docs for `syncpack` soon as they're currently no good.

[2018-08-25 13:03] JamieMason commented on #8
Just released [3.0.0](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#300-2018-08-25) which changes the above slightly:

– https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#300-2018-08-25

And the [readme](https://github.com/JamieMason/syncpack) has been updated a little too.

[2018-08-25 13:03] #8 closed

[2018-08-25 13:37] JamieMason opened #10 "Let user override dependency types"
## Description

[`DEPENDENCY_TYPES`](https://github.com/JamieMason/syncpack/blob/3.0.0/src/constants.ts#L3) is a constant used by [`gatherDependencies`](https://github.com/JamieMason/syncpack/blob/3.0.0/src/manifests/manifest-data/index.ts#L17) to get every name/version pair for the commands `list`, `list-mismatches`, `fix-mismatches`, and `set-semver-ranges`.

* Make `DEPENDENCY_TYPES` the defaul

[2018-09-07 06:48] jantimon opened #11 "Add support for lerna.json"
Usually people set different globs in the lerna.json.
For example the official lerna git repository:

https://github.com/lerna/lerna/blob/901e6d54a47151dfed3d6ed2912804b97d05c6b5/lerna.json#L2-L6

Would it be possible to use that data instead of a default glob?

[2018-09-07 10:27] JamieMason commented on #11
Nice idea, thanks. I am away for a few days but maybe sketch up a proposal for the CLI options how you'd like it to work? Thanks

[2018-09-07 12:55] jantimon commented on #11
All cli tools I know use their related configuration file even if no cli options are given.
E.g.
npm -> package.json
babel -> .babel.rc
lerna -> lerna.json
webpack -> webpack.config.js
typescript -> tsconfig.json

So imho the correct behaviour would be to pick up the settings from lerna.json by default.
Unfortunately that would be a breaking change for syncpack. 🤔

[2018-09-07 13:06] JamieMason commented on #11
Sure 👍 just want to be clear we're thinking of the same thing before we go ahead.

[2018-09-12 13:31] peterdemartini opened #12 "Add support 4 space indentation when writing the package.json"
Currently, our project uses 4 space indentation, and when I use this tool it will change the package.json to use 2 spaces, making more changes than it needs to.

It would be nice if `syncpack` could detect the indentation, like `npm` and `yarn`.

[2018-09-12 14:53] JamieMason commented on #12
Thanks @peterdemartini, _should_ be easy enough 🤞 I should be honest and admit though that this will be a lower priority issue but I'm happy for it to go in sure.

[2018-10-31 12:51] jantimon commented on #11
Thanks @JamieMason 👍

[2018-10-31 12:55] JamieMason commented on #11
You're welcome Jan

[2019-01-02 09:18] wbern opened #14 "Seems to be unable to handle non-semver based version strings"
[code]

I have a lot of "file:" protocol version strings, and some strings are links to github repos.. I suspect this is the issue, because I can run the command just fine without devDependencies.

I would really like to be able to run this tool on all my lerna packages.

[2019-01-07 09:39] JamieMason commented on #14
Thanks a lot @wbern.

For anyone looking to pick this up, I think the files that will need updating are [/src/lib/version.ts](https://github.com/JamieMason/syncpack/blob/3.5.0/src/lib/version.ts) and [/src/lib/version.spec.ts](https://github.com/JamieMason/syncpack/blob/3.5.0/src/lib/version.spec.ts). Adding some new tests which feature other kinds of [version descriptors understood by npm](https:

[2019-01-07 22:42] JamieMason commented on #14
Please try with [3.5.2](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#352-2019-01-07) and let me know how you get on, thanks.

[2019-01-10 17:53] JamieMason commented on #14
Please reopen if still an issue 👍

[2019-01-10 17:53] #14 closed

[2019-01-11 06:51] huineng opened #15 "doesn't work on node 11.6"
trying to run a command getting this

syncpack list-mismatches

[code]

[2019-01-11 08:16] #15 closed

[2019-01-11 08:16] JamieMason commented on #15
Thanks @huineng.
There was a regression in the `globby` dependency and I will put out a release soon.

[2019-01-14 14:11] louis-murray opened #16 "Getting `TypeError: Cannot read property 'concat' of undefined` when using `--source`"
I think the `values` param on the `collect` function just needs a default.

[2019-01-14 14:20] #16 closed

[2019-01-14 14:20] JamieMason commented on #16
Thanks @louis-murray, fixed in 4.0.1

[2019-01-14 14:23] louis-murray commented on #16
thank you!

[2019-01-29 20:30] ericontilt commented on #7
I'd be very interested in this feature as well. I found syncpack while looking for a tool to pull dependencies to peerDependencies across a monorepo. Looks like it would be a very similar, yet maybe distinct command. What do you think?

[2019-01-30 15:17] JamieMason commented on #7
Hi @ericontilt 👋

do you mind giving a small example of what you mean please? I _think_ I follow but there are a couple of ways to interpret it that's all. Thanks!

[2019-01-30 19:54] ericontilt commented on #7
Sure! Suppose I have an app (A) which uses ui component packages (C1, C2, .. Cn) which are developed in a monorepo. And suppose these components are not properly organized in a way that all packages use, e.g. angular as a _dependency_, instead of as a _peerDependency_.

Now I'd like a way to look at the dependencies of package.json of A, and use those to determine which _dependencies_ of C1, C2, .

[2019-01-31 11:51] JamieMason commented on #7
I'm not confident I totally understand yet but I _think_ this would be a different command to `hoist`, but I could be wrong about that and I'd be happy adding another command if we think it would be useful.

The main use case for `hoist` is to take `devDependencies` or `scripts` from multiple `./packages/*/package.json` and to move and dedupe them into the `./package.json`.

In the command you des

[2019-02-05 14:48] JamieMason commented on #11
It's taken me a while to work out the cause but I've realised this change is behind some slightly undesirable behaviour @jantimon. In my project I have `"packages": ["packages/*"],` in my `lerna.json` which means that when I run eg. `syncpack format` it only formats `./packages/*` and not also `./package.json` – so I have to redefine the `--source` patterns.

Would you mind please letting me know

[2019-02-07 06:33] jantimon commented on #11
Actually it would be nice to include the base ./package.json as well.

Usually my base package.json does not contain many dependencies but some linters

I use syncpack to reduce module duplication in lernas hoist mode.

[2019-02-07 08:57] JamieMason commented on #11
Thanks a lot @jantimon, that should be a pretty easy fix 👍

[2019-02-08 11:47] jantimon commented on #11
Thanks for your work! :)

[2019-03-01 11:35] davidenke opened #17 "feat: provide --filter or --exclude options"
It would be nice to globally filter out packages that are flagged as `private`, like [Lerna does with its filters](https://github.com/lerna/lerna/tree/master/core/filter-options#--no-private).

Are any description or use cases needed for this feature request?

[2019-03-01 11:42] JamieMason commented on #17
Thanks @davidenke, by private do you mean the [`private` property of package.json](https://docs.npmjs.com/files/package.json#private)?

A little bit about use cases would be useful, it sounds a reasonable request but I can't think of specific uses off the top of my head. What would help the most though would be writing up what the `--help` output would look like and listing which commands the opti

[2019-03-01 11:58] davidenke commented on #17
@JamieMason right, I mean `"private": true` in `package.json`.

Using `lerna` we're bootstrapping and running most of the time using the `--no-private` filter to exclude packages that are used for proof of concepts or alternative attempts while developing features. If those private packages have unpinned dependencies (e.g. `"typescript": "^2.7.0"`) and non-private packages have pinned dependencies

[2019-03-01 12:18] JamieMason commented on #17
Thanks @davidenke that makes perfect sense.

I'm wondering about generalising the option a little into something like `--exclude-if 'private: true'` so there's space to also support eg. `--exclude-if 'publishConfig.access: restricted'` or `--exclude-if 'dependencies.react: /^16/'`.

The name and structure needs some more thought though and it collides with the proposal for #7, but that's a good th

[2019-03-01 12:29] davidenke commented on #17
@JamieMason I haven't considered the hoisting feature since this is in our use case in the scope of `lerna`, as we want dependencies explicitly in sub-packages to let them be self-contained.

But if I understand it right, the `--exclude` filter should not be global but command specific. So it could be named the same on both `fix-mismatches` and `hoist`, but with different meanings per command cont

[2019-03-01 13:28] JamieMason commented on #17
My bad, the collision I was referring to is just between those "exclude" options names being too similar, rather than the hoist command itself being related. It should be easy enough to organise them, the options just need good names which behave predictably and consistently across all the commands in syncpack.

[2019-05-04 00:35] Yzrsah opened #20 "Yarn workspaces support"
It would be great if syncpack could work with yarn workspaces to help synchronize package versions across workspaces. A syncpack command specifying the root package.json could automatically use globs for workspaces.

[2019-05-06 16:30] JamieMason commented on #20
Thanks @Yzrsah, there is similar support for lerna so adding Yarn workspaces support should hopefully be fairly approachable to you. The function that would need changing is [`getSources`](https://github.com/JamieMason/syncpack/blob/4.4.2/src/lib/get-packages.ts#L7-L17) and its test suite is at [/src/lib/get-packages.spec.ts](https://github.com/JamieMason/syncpack/blob/4.4.2/src/lib/get-packages.s

[2019-05-06 22:00] dalgard opened #21 "Feature request: Manage .npmignore files"
Thanks for the good work. A feature I've been missing is the ability to manage the `.npmignore` files in each package.

NPM doesn't walk upwards in the folder structure, so it is more or less mandatory to have an `.npmignore` file in every package. Being able to check, sync, or update them would make the situation feel less insecure.

I hope you will consider this added feature. Thanks again.

[2019-05-14 10:48] #20 closed

[2019-05-20 16:12] JamieMason commented on #21
Thanks @dalgard, this sounds pretty useful.

One thing that would really help would be to go into detail on what the feature would ideally look like from an end-user point of view:

- What would the commands ideally be called?
- What would they do?
- What options might they take?
- What generic behaviour might not always be desirable? What might be a good way of handling those scenarios if they ar

[2019-05-24 16:21] JamieMason commented on #11
Oh, this landed in 3.4.0 😊 https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#340-2018-10-28

[2019-05-24 16:21] #11 closed

[2019-06-17 12:22] #21 closed

[2019-12-28 09:03] GMartigny opened #30 "feature: Custom formating"
## Description

I like the `format` command, but I would like more control on what it does. For example, my `package.json` has a `unpkg` and `jsdelivr` field that I would like to stay close together, or I would like to have the `main` field at the top.
Another way of putting this is; maybe some wants to only reorder nested field like `dependencies` without reordering the whole `package.json`.

##

[2020-04-14 03:28] mesqueeb opened #32 "feat: add a monorepo-wide `npm update`"
## Description

Hi, in regular `npm` projects, i often use `npm update` which does:
1. update the `package.json` file: change the package versions to the highest possible
2. actually update all the packages in node_modules based on this

Inside `lerna` projects, this is sadly not possible, because `npm` cannot install stuff in subfolders.
And afaik there's no good equivalent to `npm update` in ler

[2020-04-14 10:47] JamieMason commented on #32
Thanks @mesqueeb, this is a good idea and I may add this as a feature in the future. It would be low priority because there are other tools which do this, but it would fit well and could be a nice addition.

Incase it's useful to you, the way I do this today is to use [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) to update the versions in package.json files, then run a regul

[2020-04-30 14:17] gustavopch opened #33 "Support Yarn's `workspaces` being an object with a `packages` array"
# Problem

Currently, `syncpack` only understands the following syntax for Yarn Workspaces:
[code]

# Desired behavior

But is should also support:
[code]

# Proposed solution

AFAICT, the `getYarnPatterns` function in the [`get-wrappers.ts`](https://github.com/JamieMason/syncpack/blob/02d25c2f961d15caabe07363667eae3a11524b15/src/commands/lib/get-wrappers.ts) file should be modified to something l

[2020-04-30 16:38] gustavopch commented on #33
Actually, **my proposed solution above won't work** because `getPatternsFromConfig` will return `null` in case the property is not a non-empty array, which will be the case when `workspaces` is an object.

Instead, something like the following would do the job:
[code]

[2020-05-10 21:44] JamieMason opened #34 "Sort resolutions a-z"
## Description

`syncpack format` does not sort the properties of `resolutions` alphabetically, this property should behave the same as `dependencies` or `devDependencies`.

[2020-06-19 15:34] raijinsetsu opened #35 "format command sorts "files" property and breaks packages"
## Description
syncpack is reordering the contents of the "files" property which changes the contents of the tarball when using "npm publish" or "npm pack".

example package.json:
[code]

command:
`npx syncpack format`

result:
[code]

expected result:
[code]
The only work-around is to use .npmignore and remove the files property, but this becomes unmanageable.

## Suggested Solution
Do not sort t

[2020-06-19 15:47] raijinsetsu commented on #35
I can submit a PR for this but wanted to get input from other contributors.

Removing the sort for the "files" array would be, technically, backwards incompatible. Should a flag be used to remove "files" from the list of things to be sorted or should I just update constants.ts and remove "files" from it?

[2020-06-19 15:57] JamieMason commented on #35
Thanks a lot @raijinsetsu, I think you're right that `files` should be excluded from the sorting behaviour – this is something I hadn't considered.

Taking a look at the codebase, it should be a case of just [removing `files` from this Array](https://github.com/JamieMason/syncpack/blob/02d25c2f961d15caabe07363667eae3a11524b15/src/constants.ts#L8). I happen to have just finished work so I'll do thi

[2020-06-19 16:05] raijinsetsu commented on #35
Sounds good to me. I did code the fix in my branch and it was exactly that: removing the one line from the array in constants.ts.

[2020-06-19 16:08] JamieMason commented on #35
Great, thanks a lot. I have the fix ready locally and will release soon.

[2020-06-19 16:20] #35 closed

[2020-06-19 16:21] JamieMason commented on #35
Should be available now in syncpack@5.0.3

[2020-06-19 17:12] raijinsetsu commented on #35
Works perfectly. Thanks for the fast turn around!

-Luke

On Fri, Jun 19, 2020, 12:21 Jamie Mason <notifications@github.com> wrote:

[2020-07-14 12:00] rtbo opened #38 "ignore file: and link: dependencies"
## Description

When project uses local dependencies, such as
[code]
syncpack will fail with message:
[code]

## Suggested Solution

This kind of dependency should be simply ignored.
This also applies to `file:`, `https:` and git repos.

[2020-07-21 00:13] fzxt opened #40 "feature: allow for custom sorting for fix-mismatches"
## Description

Expected usecase:
using prerelease / experimental react versions should sync correctly (`0.0.0-experimental-b53ea6ca0`), i.e, imagine going from 16.12.0 to an experimental version, you now want to sync the experimental version across all your package versions in your monorepo when using the `fix-mismatches` command.

Actual:
package changes are marked as mismatched, stable version

[2020-07-29 00:15] ecraig12345 opened #41 "Allow multiple versions of a particular dependency"
## Description

This request pertains to the `list-mismatches` and `fix-mismatches` commands.

In some cases, it's necessary to temporarily have different versions of a particular dependency present in the same repo, for example when experimenting with new things or moving code into a monorepo.

Example:
- `foo` is a package within the monorepo
- Several packages in the monorepo (including `foo`)

[2020-08-02 20:24] JamieMason commented on #41
Hi @ecraig12345,
I appreciate the time and effort you've put into this, it's refreshing to receive an issue with such detail and thought put into it, so thank you for that.

I know you've spoken about this but I just want to confirm – for the versions of `typescript` and `react` within `foo` and `foo-utilities`, is the intention to:

- (A) continue checking the versions of `typescript` and `react`

[2020-08-02 21:04] JamieMason commented on #40
hey @fzxt thanks for your patience, it's been a busy few weeks. I'm not sure either really what to do about this and, like you, whether on balance it'd be a good idea to add something in for it. I'm open to discussing it further but at the moment I don't think this will be a good fit – when you're working with experimental software you run into things like this and I don't really want them to blee

[2020-08-02 21:07] JamieMason commented on #38
hey @rtbo thanks for your patience, it's been a busy few weeks. This is a good point and I agree with you, a fix for this should be reasonably straightforward and would be a good fit.

[2020-08-02 21:17] JamieMason commented on #30
Sorry for the wait @GMartigny, I thought I'd replied to this but I hadn't.

It's likely some kind of config file or property in package.json will come soon and luckily the values used for sorting are already extracted internally in /src/constants.ts:

https://github.com/JamieMason/syncpack/blob/9d48f884ac37901b7b8d5cf6cfe8eb9c1d824aaa/src/constants.ts#L6-L8

so they could be made available to the

[2020-08-03 19:13] fzxt commented on #40
Hi @JamieMason, I think that's fair -- thanks for the reply.  Feel free to close this issue for now, since I do think it's a bit esoteric and specific to `react`.

[2020-08-04 17:42] JamieMason commented on #40
Thanks @fzxt, appreciate it.

[2020-08-04 17:42] #40 closed

[2020-08-05 23:58] ecraig12345 commented on #41
Thanks for the response! Option A is what I meant.

[2020-08-06 00:01] ecraig12345 commented on #41
I'm not sure about the name `mismatchContexts` since it could be misinterpreted to mean that mismatches are allowed among versions of `dependencies` within `packages`. Maybe `alternateContexts` or `alternateGroups`?

[2020-08-06 11:10] JamieMason commented on #41
yeah good point, I think you're right. I wanted "mismatch" to be in there somewhere to indicate that this config only applies to that feature, but I think you're right that it could be confusing. `alternateGroups`, `alternateVersionGroups`, or `versionGroups` could work possibly, it's a tricky one. We can think about that in the background.

I am away this weekend so this may take a couple of week

[2020-08-10 08:41] JamieMason commented on #41
FYI I'm planning to split this up so we add support for a syncpack config first (via [cosmiconfig](https://github.com/davidtheclark/cosmiconfig)), then return to this issue to extend that with what we want here.

Branch: [feat/config-file](https://github.com/JamieMason/syncpack/commits/feat/config-file)

[2020-08-24 09:12] JamieMason commented on #33
Released in [5.5.6](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#556-2020-08-23)

[2020-08-24 09:12] JamieMason commented on #38
Released in [5.5.6](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#556-2020-08-23)

[2020-08-24 09:12] JamieMason commented on #30
Released in [5.5.6](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#556-2020-08-23)

[2020-08-24 09:12] JamieMason commented on #34
Released in [5.5.6](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#556-2020-08-23)

[2020-08-24 19:09] ecraig12345 commented on #41
Great, thanks so much for all your work on this!

[2020-08-30 16:47] #41 closed

[2020-08-30 16:49] JamieMason commented on #41
Released in [5.6.7](https://github.com/JamieMason/syncpack/releases/tag/5.6.7). I've tested for as much as I can think of, but please let me know if you run into any problems.

[2020-09-10 23:34] ecraig12345 commented on #41
Great, thank you!!! Haven't gotten to try it out yet but I'll let you know if there are issues.

[2020-09-10 23:58] JasonGore opened #43 "versionGroups not working with multiple elements"
## Description

I'm not sure if I'm using this feature correctly, but `versionGroups` is an array type which seems to imply it supports multiple entries. It works fine when I have one entry, but as soon as I add a second entry, it actually seems to break BOTH entries.

1. Clone https://github.com/JasonGore/repro-syncpack
2. `yarn`
3. `yarn repro`

### Expected:

No syncpack errors.

### Actual:

S

[2020-09-10 23:59] JasonGore commented on #41
Yes, thanks for the quick turnaround! I gave it a try and think I may have found [an issue](https://github.com/JamieMason/syncpack/issues/43).

[2020-09-11 07:03] JamieMason commented on #43
Thanks @JasonGore, I will take a look.

[2020-09-16 09:54] JamieMason commented on #43
Had a look last night and I'm not too far off a fix, it'll take a me a few days mainly due to availability. One issue in the repro is that there are no sources, `source` is an empty array in the config and there are none passed via CLI options. This has uncovered another issue I should fix around falling back to the defaults.

[2020-09-17 20:21] #43 closed

[2020-09-17 20:27] JamieMason commented on #43
Released in [5.6.10](https://github.com/JamieMason/syncpack/releases/tag/5.6.10) 🤞

Thanks for the handy repro, I have converted it into a test to catch any regressions: https://github.com/JamieMason/syncpack/blob/f4cb055845139be8f210ce1f992fa8e847311c80/src/commands/lib/installations/get-grouped-mismatched-dependencies.spec.ts#L217-L245

Please let me know if you run into any more problems, thank

[2020-09-17 23:12] JasonGore commented on #43
It worked perfectly for my actual use case, which has 12 entries. Thanks for the quick fix!

[2020-09-18 06:13] JamieMason commented on #43
That's great. You're welcome

[2020-09-28 07:00] abelmokadem opened #44 "feat: sync versions between dependencies such as @aws-cdk/*"
## Description

I would expect version group to match packages in the devDependencies, dependencies and peerDependencies field alltogether.

## Suggested Solution

Fix mismatches for packages across dev, peer and prod dependencies.

## Help Needed

[2020-09-28 07:04] JamieMason commented on #44
Could you share your project structure and configuration so we can debug it? Thanks

[2020-09-28 07:15] abelmokadem commented on #44
@JamieMason I think the version groups are not working for me at all. I'm using a lerna project and this is my configuration in my package.json:

[code]

This is my directory structure:

[code]

[2020-09-28 07:20] abelmokadem commented on #44
cdk-toolkit-stack dependencies
[code]

parameters-stack dependencies
[code]

[2020-09-28 07:21] JamieMason commented on #44
Which version of syncpack please?

[2020-09-28 07:22] abelmokadem commented on #44
[code]

[2020-09-28 07:26] JamieMason commented on #44
What are the contents of lerna.json

[2020-09-28 07:27] abelmokadem commented on #44
[code]

[2020-09-28 07:33] JamieMason commented on #44
Thanks, and what output are you expecting to see? And what do you see instead?

[2020-09-28 07:38] abelmokadem commented on #44
Currently there is no output at all. I'm expecting syncpack to complain about 2 things.

I have mismatched versions across packages and I have mismatched versions between the group of packages that I have specified.

[2020-09-28 07:40] abelmokadem commented on #44
I have a version mismatch between these 2 packages in the cdk toolkit stack:

[code]

But also in the parameters stack:
[code]

I'm expecting the package to complain about this version mismatch.

[2020-09-28 08:01] JamieMason commented on #44
thanks, what's the output of `syncpack list`?

[2020-09-28 08:04] abelmokadem commented on #44
Btw, I tried swapping packages and dependencies field. No luck.

[code]

[2020-09-28 08:13] JamieMason commented on #44
Correct me if I'm wrong but I _think_ you're expecting behaviour which isn't quite what this tool is designed for, let me know. Are you expecting that these two separate packages `"@aws-cdk/core": "1.64.1",` and `"@aws-cdk/aws-s3": "1.64.0",` should have the same versions as each other?

I'll review and improve the docs if so, but the goal is only to ensure that multiple packages requiring the sam

[2020-09-28 08:15] abelmokadem commented on #44
Aha, that explains! Yes that's exactly what I was expecting. It would really be a nice feature to have when using dependencies like AWS CDK. AWS CDK only works if all the AWS CDK dependencies are on the same version.

[2020-10-28 03:40] jaybowong opened #45 "discuss: how to fix non-semver dependencies"
## Description

I have a monorepo that contains 3 react-native apps.
Before running `fix-mismatches`
[code]
After
[code]

It changes the custom URL dependency back to the original one, which is not expected.

Not sure if anyone else has the same situation like this.

## Suggested Solution

The situation above is a little bit complicated and we just don't have a clue to fix it automatically. Only t

[2020-12-29 22:35] ryuuji3 commented on #45
I just ran up against this problem as well, we're using a namespaced package where we had to fork one of our dependencies.
eg.
[code]

became:

[code]

I would be able to automatically fix mismatches if not for this problem. Really appreciate this package though, and wouldn't mind contributing.

[2020-12-30 13:00] JamieMason commented on #45
Thanks both, this definitely needs doing but I'm busy with some private projects. I will get to it and/or am of course happy to merge PRs.

[2021-01-29 16:33] remorses opened #47 "Use workspace's packages version as source of truth in fix-mismatches"
## Description

When doing `fix-mismatches` it would be cool to sync dependencies version to use the local version, taken from the `package.json` version field instead of using the higher version found in the deps tree

## Suggested Solution

Use the package.json version field of workspace packages as  a range present in the dependency tree

## Help Needed

[2021-01-29 18:30] JamieMason commented on #45
I've just been having a look at this but have a few questions.

For

[code]

and

[code]

to both become

[code]

means that one of the packages in your workspace depends on

[code]

Can you tell me a bit more about the situations you're in @jaybowong and @ryuuji3? What causes you to have this kind of mix? I ask to understand it better and so I don't put something in for this which causes unexpect

[2021-01-29 18:47] #47 closed

[2021-01-29 18:53] JamieMason commented on #47
Should be there for you in 5.7.11 @remorses, thanks.

[2021-02-03 02:38] jaybowong commented on #45
@JamieMason

The monorepo has three react-native apps.
One of the apps(A) has dependency "@react-native-community/cameraroll": "https://github.com/my-fork/react-native-cameraroll.git#fix-a-bug", added by me.
Another one(B) has "@react-native-community/cameraroll": "https://github.com/my-fork/react-native-cameraroll.git#fix-another-bug", added by one of my colleagues. Of course he might not know wh

[2021-03-04 00:10] Aghassi opened #48 "feat: support parseable json output with granular information"
## Description

This package is really great, but it would be nice for it to run sort of like a linter in that it should report to you the lines in the `package.json` that are impacted. This is mostly so that there may be a way to more easily identify which files need editing or updating for a given dependency.

## Suggested Solution

For a given scan:
* Return an array of objects
* Each object ha

[2021-03-04 11:37] JamieMason commented on #48
Thanks @Aghassi, I'm curious about this idea but I need to know a bit more about what you're trying to do.

It could be that the output from `syncpack list-mismatches` is too vague and needs improving? Or maybe you're working on some tooling so that's why you mentioned JSON? to drive that?

This sounds interesting but I need a bit more context to get up to speed, thanks a lot David.

[2021-03-04 17:14] Aghassi commented on #48
Sure thing. My current situation is I'm writing a linter for `arcanist` https://secure.phabricator.com/book/phabricator/article/arcanist/.

The way arcanist is structured, it passes affected files into the linter and each file is linted with actionable information provided back to the user. Each lint message contains the line in the current file as well as the character that the error is located a

[2021-03-04 17:21] Aghassi opened #49 "fix: globs starting with ./ resolve to undefined name in output"
## Description

I'm using the `syncpack.config.js` as my rc file for one reason: our monorepo doesn't have a standard `packages/` folder, so I'm listing paths by hand. As such, my `source` array looks like this:

[code]

When an error is found against the path `./package.json` (root package.json) the name assigned to it is `undefined`. I assume the code is stripping out `/package.json` and trying

[2021-05-10 19:37] vjpr opened #53 "feat: apply constraints to versions used when fixing mismatches"
I have a bunch of packages using webpack@4 and webpack@5. I basically want all packages to pin to the same version of either 4 or 5 depending on what they currently depend on.

Some packages depend on `webpack@5.0.0-beta.18` for example. This is because it was the only package available at the time, but now I want them all to use the latest.

I guess its similar to `versionGroups`, but instead of

[2021-05-21 12:57] raijinsetsu opened #54 "--indent option does not work if changes are only to indentation"
## Description

1. Execute `syncpack format --source "PATH-TO-PACKAGE-JSON"` to make sure properties are now in the correct order
2. Execute `syncpack format --indent '....' --source "PATH-TO-PACKAGE-JSON"`
3. Review package.json - notice that `....` is not used as indentation.

The expected output is that indentation will be four periods (this is purely for demonstration purposes).

## Suggested

[2021-05-28 15:17] myrddraall opened #55 "feat: format - option to opt out of sorting specific properties"
## Description

Sometime an objects properties need to remain in the order they are set.
for example when using `npm-rull-all` in sequential mode  it runs the scripts in the order that they are defined

I do understand that this could be achieved with the configuration file, so its a "nice to have"

[code]

when you run `yarn build`, the scripts are executed in the order
1. build:clean
1. build:an

[2021-05-28 15:30] #55 closed

[2021-05-28 18:39] JamieMason commented on #55
Thanks for raising this @myrddraall.

Leaving a note incase anyone else stumbles on this issue, you can achieve this by overriding the default configuration of `sortAz` to not include `scripts`:

[code]

[2021-08-01 14:36] #54 closed

[2021-08-01 14:38] JamieMason commented on #54
Fix released in [`5.8.14`](https://github.com/JamieMason/syncpack/blob/5.8.14/CHANGELOG.md#5814-2021-08-01) 🎉

Thanks for reporting this @raijinsetsu

[2021-08-06 11:42] JamieMason commented on #53
It's been a long time getting around to this, but how does this sound @vjpr?

- `@old-stuff/*` must have the same versions of `webpack`, `lodash`, and `react`
- `@new-stuff/*` must have the same versions of `webpack`, `lodash`, and `react`
- `@old-stuff/*` and `@new-stuff/*` can have different versions of `webpack`, `lodash`, and `react` to each other
- `lodash` and `react` mismatches will always

[2021-08-06 11:51] JamieMason commented on #49
Slow reply here @Aghassi, I think the problem will be in this function:

https://github.com/JamieMason/syncpack/blob/8bf31c8e5d85f70b74c132b0457533f7d4c57fc2/src/commands/lib/get-wrappers.ts#L68

In your case those glob patterns will be in `program.source` and be picked up by `getCliPatterns` on this line:

https://github.com/JamieMason/syncpack/blob/8bf31c8e5d85f70b74c132b0457533f7d4c57fc2/src/co

[2021-08-06 12:07] JamieMason commented on #48
The library code and the CLI are separate in syncpack, so you _could_ use it as a node module. It would be a small job to add a `main` entry and to make a nice API you can import from the root of the package.

A little refactoring would be needed plus it's not a nice DX right now, but you can access the core functionality like so:

[code]

You can see the code for the [CLI](https://github.com/Jami

[2021-08-06 12:18] JamieMason commented on #45
Sorry @jaybowong I'm still not quite clear,
The only way syncpack would set the version to `"1.3.1"` is if one of the package.json files which syncpack inspected  had a version of `"1.3.1"`.

If the only two versions in the entire monorepo are `https://github.com/my-fork/react-native-cameraroll.git#fix-a-bug` and `https://github.com/my-fork/react-native-cameraroll.git#fix-another-bug` syncpack wou

[2021-08-06 12:27] JamieMason commented on #32
I've decided not to do this as there are a lot of good tools out there for updating npm dependencies, I don't want to dilute the focus/purpose of syncpack too much. Thanks anyway for raising this.

[2021-08-06 12:43] JamieMason commented on #17
I'll leave this open for discussion for a while but currently I'm thinking it's probably best not to add this – it's normally better to chain multiple CLI tools which each do one thing.

In this case we would filter the paths before passing the result to `syncpack` using CLIs like [`jq`](https://stedolan.github.io/jq/tutorial/), [`find`](https://ss64.com/bash/find.html), and [`xargs`](https://ss64

[2021-08-06 12:45] JamieMason commented on #7
Hey @ericontilt do you still want the feature we were discussing?

[2021-08-22 22:08] Aghassi commented on #48
I'm currently just returning from a vacation, but I'd be happy to look at this. It sounds promising!

[2021-09-11 19:18] bompus opened #57 "Use workspace's dependencies versions as source of truth in fix-mismatches"
## Description

When running fix-mismatches in a folder containing a pnpm workspace, it always uses the highest version found in any of the packages, instead of the version specified in the workspace root, which I personally use as the source of truth for shared external dependencies.

## Suggested Solution
I'd like a setting to prefer the dependencies versions listed in the workspace's root packa

[2021-10-06 23:36] Aghassi opened #60 "Add resolutions field to package.json dependency checking"
## Description

I can probably help with this (amongst my other issues, I swear I haven't forgotten). Essentially, right now we check `devDependencies`, `dependencies`, and `peerDependencies`. But there is also `resolutions` which can override versions all the way down the stack. It would be useful to check that too to make sure it doesn't drift either

## Suggested Solution

Support `overrides` f

[2021-10-13 11:07] ericontilt commented on #7
Hi Jamie. I'm no longer working in this area at the moment. So there is no need for me to follow up on this. Thanks.

[2021-10-16 04:39] jessekrubin opened #62 "Add —check flag for format for ci/cd"
## Description

Would be nice to be able to check my package jsons for correct formatting, food for thought.

[2021-11-12 21:01] harelmo opened #63 "Allow specifying the desired version per dependency"
## Description

In some cases, it's useful to align all the dependencies of a package to a pre-defined dependency, e.g. set all `lodash` versions across the monorepo to be `~14.17.0`.

The current process is unclear in regards to how the version to set is obtained - I see it can be either the latest version of the dependency, or some other version declared by one of the packages (which I assume if

[2021-11-13 21:14] JamieMason commented on #63
Are Yarn resolutions or pnpm overrides a good fit for this use-case? I'm hesitant about syncpack potentially being a source of truth for version numbers, instead of package.json files.

On your other comment, there's only one method of resolution in syncpack at the moment, versions are resolved by taking the newest valid server version.

[2021-11-14 07:18] harelmo commented on #63
Yarn resolutions / pnpm overrides are good for certain use-cases, yet they don't actually modify the `package.json` files across the repo but rather "magically" ignore the values declared in them, forcing other versions to be resolved instead of the explicit ones.
I actually find them more confusing than having a dedicated file added intentionally used by an external tool such as `syncpack`, but o

[2021-11-14 10:08] JamieMason commented on #63
Thinking some more, the version information would be in addition to the package.json files, not instead of, and would only change them when you run syncpack. As an opt-in this could be OK actually.

I'll mention that in the readme, good shout.

[2021-11-14 11:00] harelmo commented on #63
Sounds great, I'll try submit a PR soon with a suggestion

[2021-12-07 17:33] Aghassi opened #65 "feat(versionGroups): mark specific dependencies for removal"
## Description

There are some cases were you may not want certain dependencies introduced into the codebase (for example, say your company uses Typescript, you wouldn't want people trying to introduce Flow). Having a way to have a disallow list would be nice.

## Suggested Solution

Have a list in the config of disallowed dependencies to prevent them being added anywhere in the repo.

## Help Nee

[2022-01-01 17:22] JamieMason commented on #60
Released in [6.0.0](https://github.com/JamieMason/syncpack/releases/tag/6.0.0), thanks a lot for contributing.

[2022-01-01 17:22] #60 closed

[2022-01-01 17:25] JamieMason commented on #57
At first I didn't think this was already a feature, but while working on [6.0.0](https://github.com/JamieMason/syncpack/releases/tag/6.0.0) I saw that this should already be the case:

https://github.com/JamieMason/syncpack/blob/fd7ef19b1babb571805e275778cdf0ef7ea111d9/src/bin-fix-mismatches/fix-mismatches.ts#L27-L29

Please give [6.0.0](https://github.com/JamieMason/syncpack/releases/tag/6.0.0) a

[2022-01-01 17:25] #57 closed

[2022-01-01 17:26] JamieMason commented on #53
Shall I close this one @vjpr?

[2022-01-01 17:27] JamieMason commented on #49
Being a little lazy here @Aghassi but can you check this is still the case in [6.0.0](https://github.com/JamieMason/syncpack/releases/tag/6.0.0)?

[2022-01-01 17:27] JamieMason commented on #45
Closing as stale

[2022-01-01 17:27] #45 closed

[2022-01-01 17:30] #17 closed

[2022-01-01 17:31] #4 closed

[2022-01-01 17:33] JamieMason commented on #62
Thanks a lot @jessekrubin, please subscribe to #3 which is very similar and I'll close this one as a dupe 👍🏻

[2022-01-01 17:33] #62 closed

[2022-01-03 10:57] JamieMason opened #66 "feat: find mismatches in internal monorepo packages"
## Description

1. `@this-monorepo/atoms` and `@this-monorepo/molecules` are developed in your monorepo.
1. `packages/atoms/package.json` contains
[code]
1. `packages/molecules/package.json` contains
[code]
1. `syncpack` does not report any mismatches because nothing else in the monorepo depends on `@this-monorepo/atoms`.

## Suggested Solution

Add `--workspace` to the existing list of locations

[2022-01-03 16:50] #44 closed

[2022-01-03 16:50] #53 closed

[2022-01-03 16:50] #63 closed

[2022-01-03 16:56] JamieMason commented on #44
This should now be possible in [6.1.0](https://github.com/JamieMason/syncpack/releases/tag/6.1.0), thanks for contributing.

[2022-01-03 16:56] JamieMason commented on #53
This should now be possible in [6.1.0](https://github.com/JamieMason/syncpack/releases/tag/6.1.0).

[2022-01-03 16:57] JamieMason commented on #63
This should now be possible in [6.1.0](https://github.com/JamieMason/syncpack/releases/tag/6.1.0), thanks for contributing.

[2022-01-03 17:58] JamieMason opened #67 "docs(website): add examples cookbook"
## Description

There are some examples scattered around:

- https://github.com/JamieMason/syncpack/releases/tag/6.2.0
- https://github.com/JamieMason/syncpack/releases/tag/6.1.0
- https://github.com/JamieMason/syncpack/pull/64#issuecomment-1003592729

## Suggested Solution

Add a Cookbook section of examples to README.md, something roughly like this:

[2022-01-03 22:13] JamieMason commented on #65
Hey @Aghassi, this should be possible now with the `versionGroups`. Similar to `pinVersion` we could add a property to the group which indicates that the dependencies belonging to that group should be disallowed 👍

[2022-01-04 16:15] Aghassi commented on #65
@JamieMason awesome thanks! Anyway I can help with this?

[2022-01-04 16:30] JamieMason commented on #65
Sure, thanks a lot.

Putting each dependency into a semver/version group happens here, but you won't need to change this
https://github.com/JamieMason/syncpack/blob/dea167556635f015f0feb407207b0d2e9470ed0e/src/lib/get-input/get-instances.ts

The logic for finding out if a given version group is valid or not happens here
https://github.com/JamieMason/syncpack/blob/dea167556635f015f0feb407207b0d2e94

[2022-02-23 17:39] ohana54 opened #68 "yarn workspaces: packages found in node_modules are not excluded when using list/fix-mismatches"
## Description

Hi,
We're using Yarn Workspaces with the glob pattern `packages/**`, since we have a deep package tree.
Some of the packages have their own node_modules folder with packages inside.
Yarn is ok with it and automatically doesn't search for packages in node_modules.

However, `syncpack` has its own resolving mechanism and _does_ include packages from node_modules.

## Suggested Soluti

[2022-03-02 14:29] idan-at opened #69 "syncpack list: support --json"
Hey,

What do you think about support a json format instead of what the `list` method has at the moment?

It can be useful for automatic tools to run the script and collect the result much easily.
I saw there's also [this](https://github.com/JamieMason/syncpack/issues/48), which suggests a node API, which is great too :)

WDYT? I'd be willing to contribute if you find this useful.

Thanks

[2022-03-18 09:37] JamieMason commented on #69
hey @idan-at, I like the idea of a Node API. The --json output I'm broadly open to but, like I asked in that linked issue, I'm not sure what the concrete use cases out there are for it and I don't want to maintain it if barely anyone uses it. The problem with #48 is that it'll need quite a bit of refactoring before it can be made available – the core modules are tightly coupled to writing to the t

[2022-03-20 11:00] idan-at commented on #69
about the `--json` use case: I had a script wrapping `syncpack`, and I wanted to extract the output of `list-mismatches` programmatically. TBH, I've removed the wrapper and now I work with `syncpack` directly.

But indeed, I find the NodeAPI a great fit. It might be useful in cases where the setup of the repository isn't standard, or where there are proprietary solutions

`npm-check-updates` has a

[2022-03-24 04:35] tom-fletcher commented on #68
I ran into the same issue with `pnpm` as my `pnpm-workspace.yaml` has similar glob patterns such as:

[code]

As a workaround, you can create a `.syncpackrc.js` in your project root and perform your own `package.json` resolution.

For `pnpm`:

[code]

And similar for `yarn`:

[code]

However, it would be much nicer if `node_modules` were always automatically excluded so I will also submit a PR for

[2022-03-24 09:12] JamieMason commented on #68
Thanks @ohana54 and @tom-fletcher – happy to do this but something I want to check, do you have packages you **develop** which are nested within other packages you develop? So rather than

[code]

You potentially have something like this?

[code]

[2022-03-24 09:32] tom-fletcher commented on #68
It is pattern I do use @JamieMason, although the structure tends to look more like this:

[code]

[2022-03-24 09:58] ohana54 commented on #68
@JamieMason I've seen cases with nesting in my company (app2/packages/app3) although it wasn't in the repo that caused me to open this issue.
I think this type of nesting can still be supported, just need to ignore node_modules in the path.

[2022-03-24 10:23] tom-fletcher commented on #68
@ohana54 - yes, the nesting `app2/packages/app3` would be supported after #70 if anyone did want to use that particular pattern.

As Syncpack is just globbing `apps/**/package.json` it doesn't care what the underlying structure is, which is ideal (except for the `node_modules` folders as raised in this issue).

[2022-04-12 00:51] tom-fletcher commented on #68
@JamieMason Wondering if it might be possible to merge and release #70? It would be nice to remove the workaround (and associated dependencies) from my monorepo root. Cheers!

[2022-04-12 17:04] JamieMason commented on #68
on it 👍🏻

[2022-04-12 17:10] JamieMason commented on #68
Released in 6.2.1, thanks a lot @tom-fletcher

[2022-04-12 23:23] tom-fletcher commented on #68
Thank you @JamieMason - and thanks for this package, it is great for enforcing a single version policy. :clap:

Upgraded to 6.2.1 and verified working. 🎉 🎉

[2022-04-13 00:32] airtonix commented on #55
@JamieMason I've done what you suggested but i still see that script entries being resorted

[2022-04-13 00:53] airtonix commented on #55
typo

![sigh-parks-and-rec](https://user-images.githubusercontent.com/61225/163077741-847830c5-86d3-45c0-9fbe-15ed4b97b1d5.gif)

`s/sortAZ/sortAz/`

[2022-04-20 03:28] tom-fletcher opened #71 "feat: add config path option"
## Description

Currently, `syncpack` only locates the config file (if present) with `cosmiconfig`.

Other tools, such as ESLint and Prettier, allow the user to specific a configuration path other than the normal one auto-detected. This can be useful for i.e. moving the config files out of the package root and into a `config/` folder. Allowing a custom config path would bring `syncpack` into parit

[2022-04-20 05:41] tom-fletcher commented on #71
I ended up with a bit of time this afternoon to look at this, and it was fairly straightforward. `cosmiconfig` does the heavy lifting again, all that was needed was to add a `config` option to the CLI and pass this through.

Of course still open for discussion if there are opinions on how to implement!

I decided to pass the config path through as a new parameter on `getInput()`

[code]

Initially

[2022-04-27 22:42] JamieMason commented on #66
Released in [7.0.0](https://github.com/JamieMason/syncpack/releases/tag/7.0.0)

[2022-05-01 14:32] #71 closed

[2022-05-01 14:34] JamieMason commented on #71
Released in [7.1.0](https://github.com/JamieMason/syncpack/releases/tag/7.1.0)

[2022-05-01 16:54] JamieMason commented on #65
I've got a working version [in this branch](https://github.com/JamieMason/syncpack/tree/disallow#versiongroupisbanned), could you give a try please @Aghassi and let me know if it works in your repo.

[2022-05-02 11:56] #65 closed

[2022-05-02 11:58] JamieMason commented on #65
Released in [7.2.1](https://github.com/JamieMason/syncpack/releases/tag/7.2.1)

[2022-05-02 15:30] #49 closed

[2022-05-02 20:56] Aghassi commented on #65
Yep yep, let me upgrade to v7 and come back to this and fill you in

[2022-05-05 04:24] Aghassi commented on #65
@JamieMason just keeping you updated, I just landed the 7.x upgrade internally. I am at a conference this week, but will be trying the new features next week

[2022-05-05 04:26] Aghassi commented on #49
I don't know why I missed this but we upgraded to 6.x.x and I didn't test. I will check now that we also updated to 7.x

[2022-05-05 18:21] Aghassi commented on #65
So I have two hurdles and maybe I'm doing it wrong so feel free to correct me

When I enable `resolutions`, `workspaces`, and `overrides`, I'm not getting a failure when I make a resolution in one package.json that is definitely different from a resolution in another package.json when using `list-mismatches`.

In addition, I tried using `versionGroups` with `isBanned` and I got same thing. No fail

[2022-05-05 18:47] Aghassi commented on #65
Oh ignore me if a dependency is ignored and also in the is banned the ignored wins out.

[2022-05-05 18:49] Aghassi commented on #65
The messaging could be cleaner but bans do work :)

[code]

I would just change the error to be something more useful. I think it would be nice to say `react` is ban from use within the code base and then in the config `isBanned` can take a reason that we can customize and surface to the user so we can say "go to this url to learn more why"

[2022-05-05 21:36] mxro commented on #66
[Tested this out](https://github.com/goldstack/goldstack/pull/170), does this look like the correct way to use the command [package.json#19](https://github.com/goldstack/goldstack/pull/170/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R19)?:

[code]

I manually changed on of the internal dependencies to be wrong [workspaces/templates/packages/serverless-api/package.jso

[2022-05-05 21:41] JamieMason commented on #66
On mobile now but that seems right, I will take a look at that branch soon and try to reproduce and fix, thanks.

[2022-05-06 16:28] JamieMason commented on #66
@mxro would you mind forking and adding your scenario [to this file](https://github.com/JamieMason/syncpack/blob/0004b773b5e31573cbfcd5c7f4c6b7d380b508cc/test/scenarios/index.ts)? I'll pick up from there and add a test and fix. Hopefully it makes sense 🤞🏻, the tests that use these mock scenarios look a bit [like this](https://github.com/JamieMason/syncpack/blob/0004b773b5e31573cbfcd5c7f4c6b7d380b5

[2022-05-06 22:01] mxro opened #73 "bug: Running Tests on Windows doesn't work"
## Description

Steps:

- Clone the repository
- Run `yarn` ==> Runs successfully
- Run `yarn test`

Received the following result (full log below)

![image](https://user-images.githubusercontent.com/1448524/167221664-348cd125-42dd-4756-bded-220509dc23eb.png)

## Environment

- Windows 10 with mingw64
- Node v14.19.1

## Complete Log

<details>

[code]

</details>

[2022-05-06 22:08] mxro commented on #66
Added a draft PR - but very low confidence on my part whether that is right: https://github.com/JamieMason/syncpack/pull/74

(I think there is also an option in GitHub to mark PRs as drafts but I couldn't find / missed the option)

[2022-05-06 22:15] JamieMason commented on #66
Thanks Max appreciate it

[2022-05-07 05:11] tom-fletcher commented on #71
Very nice, thanks! 🎉

[2022-05-14 12:13] JamieMason commented on #66
I've added tests for your scenarios but they're passing, so I'm still not sure what the problem might be. The work on this can be seen at https://github.com/JamieMason/syncpack/compare/mxro-add_scenario. Maybe it's a problem with parsing combinations of `--workspace`, `--dev` etc correctly, I'll check that next.

[2022-05-14 14:42] JamieMason commented on #66
I think I've managed to reproduce it in github actions [here](https://github.com/JamieMason/syncpack/runs/6435146591?check_suite_focus=true), it looks like it's a problem with syncpack's compatibility with Windows. Parking this for now but will come back to it soon.

[2022-05-14 19:31] mxro commented on #66
Ah yes that could be the case! I was running the command on Windows! Thanks for looking into it!

[2022-05-17 09:51] JamieMason commented on #66
If you could check out that branch and try taking a look on Windows @mxro that would be a huge help, I spent ages on Sunday messing around trying to get a Windows VM running and got nowhere. It's something I've had working before but I was hitting errors this time I've never seen before, so it'll take some time.

I think the problem is around paths being different on windows, probably `path.normal

[2022-05-19 07:13] mxro commented on #66
Thanks for looking into this and happy to help!

With which version should I try - I think on npm it is still the same one I tried with last time `7.2.1`?

[2022-05-19 07:23] JamieMason commented on #66
If you can clone the mxro-add_scenario branch and run the tests on Windows that would be great, and try to see if you can apply fixes. I'll do this too once I can finally get a Windows vm working.

[2022-05-19 08:05] mxro commented on #66
Roger that, got a few test failures

![image](https://user-images.githubusercontent.com/1448524/169244196-117565b1-7d07-4dc6-9bd5-592f92da8286.png)

And here the full log:

[code]

[2022-05-19 08:07] mxro commented on #66
Never used this before but maybe using something like https://aws.amazon.com/workspaces/?nc=sn&loc=0 maybe easier than trying to get a windows up and running locally?

[2022-05-19 16:12] JamieMason commented on #66
Good as a plan B but I'll get VirtualBox sorted hopefully. I've had it working before but was having trouble this time for some reason - maybe the latest Mac OS version or something, I don't know yet.

[2022-05-29 08:11] Zamiell opened #76 "Blows away line endings in every package.json file with CRLF"
Hello! And thanks for the excellent tool.

From a Windows machine, running `syncpack fix-mismatches` on my monorepo replaces the line endings in every package.json file with CRLF. (They were LF before.)

This is not good, as it breaks `prettier --check` and subsequently breaks CI.

Can the tool just copy the existing line endings that are used in the file? Or failing that, always just use LF or so

[2022-05-29 08:28] JamieMason commented on #76
I'm working on Windows support and this will be fixed as part of that, thanks for posting.

[2022-05-29 08:29] Zamiell commented on #76
Thanks Jamie, appreciate it.

[2022-05-29 16:32] JamieMason commented on #66
Closing this again as the issue we were discussing when reopening was actually windows support generally – finding mismatches in internal monorepo packages was working on other OSes.

[2022-05-29 16:32] #66 closed

[2022-05-29 16:37] JamieMason commented on #73
This should now be working, the test have been fixed on Windows and the Github action has been updated to run tests on Windows too.

Please give [7.2.2](https://github.com/JamieMason/syncpack/releases/tag/7.2.2) a try @mxro, the test scenario we added is now passing on Windows, so hopefully that reproduction is accurate and your problem will now be fixed.

Please close this issue if it works, or c

[2022-05-30 09:59] JamieMason opened #77 "Improve isBanned messaging"
## Description

Make messaging clearer when an instance of a dependency matches [`versionGroup.isBanned`](https://github.com/JamieMason/syncpack#versiongroupisbanned).

Current output is like so:

[code]

## Suggested Solution

From https://github.com/JamieMason/syncpack/issues/65#issuecomment-1118933292:

[2022-05-30 16:00] TxHawks opened #78 "Overrides not checked with pnpm"
## Description

In a pnpm monorepo, I have a `pnpm.overrieds` field in the root `package.json` in order to override a an indirect dependency (a dependency of a dependency).

And then, in the same `package.json` `devDependencies` field or in one of the workspaces, is have an explicit dependency on `eslint@^7.0.0`.

[code]

When I run `syncpack list-mismatches`, this discrepancy to be reported, but

[2022-05-30 16:03] JamieMason commented on #78
Thanks for posting. I thought overrides was at .overrides and not .pnpm.overrides, if that's not the case then this is what will be wrong in syncpack.

[2022-05-30 16:12] TxHawks commented on #78
Thanks for the quick reply. Overrides is indeed under `pnpm`. See here: https://pnpm.io/package_json#pnpmoverrides

[2022-05-30 16:31] TxHawks commented on #78
Do you want me to submit a pull request? If yes, can you point me to where in the code you handle this?

[2022-05-30 17:08] JamieMason commented on #78
Thanks @TxHawks I'm taking a look now.

[2022-05-30 18:51] JamieMason commented on #78
I thought this would be an easy fix but now I've done it (https://github.com/JamieMason/syncpack/commit/6493a638af4b5a4add8ad6b3dc3e79161089f5c4) I realise the existing `overrides` property work matches the location npm uses for the same feature (https://github.com/npm/rfcs/blob/main/accepted/0036-overrides.md) even though the work in syncpack was actually intended for pnpm.

We have 2 overrides p

[2022-05-31 07:16] TxHawks commented on #78
Since it's another package manager a different property location, it makes sense to me that it would be another option. `--pnpm-overrides` seems right, since it both makes the intention clear and mirrors the actual property structure

[2022-05-31 07:51] JamieMason commented on #78
Thanks yeah I'd been leaning the same way.

[2022-05-31 11:34] #78 closed

[2022-05-31 11:41] JamieMason commented on #78
Released in 8.0.0, let me know if you have any problems

[2022-05-31 17:26] TxHawks commented on #78
Thanks!

[2022-05-31 22:42] Aghassi opened #79 "feature: show path to package.json instead of package.json name field"
## Description

When there are multiple offenders, it can be hard to align offending packages with their name field
because that is not an easily searchable.

## Suggested Solution

Show the path to the offending package.json instead of the name field

## Help Needed

Happy to help contribute this. I haven't looked into it yet. I just keep hitting it and getting annoyed :)

[2022-06-02 21:13] mxro commented on #73
Got latest master and ran `yarn test` locally (89a5a563d1fa1bdd08c8babb11406cbe3f82d893). Seems to be still some tests are failing:

![image](https://user-images.githubusercontent.com/1448524/171739131-41b4192f-337e-4262-abb9-daacdb12cd00.png)

Full log below

[code]

[2022-06-02 21:39] JamieMason commented on #66
Is that on Windows? Or also on Linux or osx?

[2022-06-02 21:45] mxro commented on #66
Running this on Windows - maybe let me try running it in Linux env and see what the result is!

[2022-06-03 07:12] JamieMason commented on #66
Perfect, this will be easier to debug and suggests a real code problem rather than something subtle with environments. Hopefully it just means that the test scenario we made possibly doesn't reproduce the issue correctly, we'll see. Thanks for setting that up.

[2022-06-03 14:18] JamieMason commented on #66
I have `64f30940` of `https://github.com/goldstack/goldstack.git` checked out locally, I _think_ the problem is that the `--source` options weren't quoted – so the shell is resolving those patterns before they're received by `syncpack`.

Without quoting the patterns, the only files being operated on were:

[code]

### Without quotes

[code]
↓↓↓
[code]

### With quotes

[code]
↓↓↓
[code]

I'm doing

[2022-06-03 20:47] mxro opened #80 "It seems package.json files are written even if not changed"
## Description

When running `syncpack` git seems to pick up that all `package.json` files have been changed. Even if there are no changes made to the files:

![image](https://user-images.githubusercontent.com/1448524/171949982-3cd3d407-6df8-4583-8872-2975bc297204.png)

## Suggested Solution

Ensure that `package.json` files are only written when they are actually changed.

## Help Needed

[2022-06-03 21:26] mxro commented on #66
Excellent, thanks for looking into this! Sorry I think I tried it initially with quotes but then forget to do that for the new version. Maybe the Yarn shell interferes here so it could be that nothing needs to change for syncpack.

Works perfectly now and helped me do a good clean up of the repository. Also could configure it to support multiple versions of the same package I needed using version

[2022-06-04 00:52] JamieMason commented on #79
Sounds good, it's looking like this so far:

![Screenshot](https://user-images.githubusercontent.com/320492/171970017-eccb7904-5675-4c2f-aa49-ec28f588878d.png)

It looks a lot busier but it's better than you can easily open each file, any ideas or amends?

[2022-06-04 00:55] JamieMason commented on #66
You're welcome. A lot of nice ideas and improvements have come off the back of your feedback and repros, so thanks a lot for that.

[2022-06-04 01:00] JamieMason opened #81 "Handle unquoted sources"
## Description

Detect and handle when `--source` options are given unquoted globs (`--source packages/*/package.json` vs `--source 'packages/*/package.json'`)

Related to https://github.com/JamieMason/syncpack/issues/66#issuecomment-1146011769.

## Suggested Solution

A node.js script containing `console.log(process.argv)` show what's received when passing quoted and unquoted globs.

[2022-06-04 01:06] JamieMason commented on #80
Possibly related to #76 but haven't looked in detail yet 👍🏻

[2022-06-04 01:36] JamieMason opened #82 "feat(semver): support prerelease labels"
## Description

Refs https://github.com/microsoft/fluentui/pull/23342#issuecomment-1144013563

1. [SemVer](https://semver.org/) has "Additional labels for pre-release and build metadata are available as extensions to the MAJOR.MINOR.PATCH format.".
1. The following are all valid: `1.0.0-alpha`, `1.0.0-alpha.1`, `1.0.0-0.3.7`, `1.0.0-x.7.z.92`, `1.0.0-x-y-z.–`.

How are these being compared? How sh

[2022-06-04 03:57] Aghassi commented on #79
Yeah i think that's a good starting point

[2022-06-09 11:57] JamieMason opened #83 "Optionally focus a semver group on specific dependency types"
## Description

Optionally define the dependency types where a semver group should match.

The existing first-matching-group-wins rules would continue to apply.

## Suggested Solution

Scenario: You want exact versions for dependencies which affect production but loose for development.

[code]

[2022-06-24 20:36] Zamiell commented on #76
Hey Jamie, can I submit a PR to get this done sooner?

[2022-06-25 14:02] JamieMason commented on #83
This was already done in https://github.com/JamieMason/syncpack/commit/565c1e76c71592dc0353266e1289dd9d0bf3fd9b, just needs documenting.

[2022-06-25 16:25] #76 closed

[2022-06-25 16:25] #79 closed

[2022-06-25 16:25] #83 closed

[2022-06-25 16:28] JamieMason commented on #76
Proposed fix released in [8.2.4](https://github.com/JamieMason/syncpack/releases/tag/8.2.4)

[2022-06-25 16:28] JamieMason commented on #79
Proposed fix released in [8.2.4](https://github.com/JamieMason/syncpack/releases/tag/8.2.4)

[2022-06-25 16:29] JamieMason commented on #73
Going to close this I think @mxro, the GitHub Actions runs on Windows OK – if more users have issues on Windows I'm happy to take a look.

[2022-06-25 16:29] #73 closed

[2022-06-25 16:30] JamieMason commented on #80
Please let me know if this still happens when using [8.2.4](https://github.com/JamieMason/syncpack/releases/tag/8.2.4), I think the problem was line endings.

[2022-06-25 16:31] JamieMason commented on #77
Proposed fix released in [8.2.4](https://github.com/JamieMason/syncpack/releases/tag/8.2.4)

[2022-06-25 16:31] #77 closed

[2022-06-25 16:54] Zamiell commented on #76
Woot, thank you!

[2022-06-26 10:58] Coobaha opened #84 "Setting workspace depencyType throws uncaught runtime error"
## Description

hi @JamieMason after https://github.com/JamieMason/syncpack/commit/2d1bf059a239dff3af203104491a315b894b8796#diff-c58dda308b363b6022c8a03f2d4ae8fd387425eb7a733f166bfd7d93d68ef11fL12

I am getting uncaught `TypeError` in a yarn workspace codebase

[code]

[2022-06-26 14:00] JamieMason commented on #84
Can you edit your local install at `node_modules/syncpack/dist/bin-set-semver-ranges/set-semver-ranges.js` to include this log, run syncpack again, then share the output?

[code]

[2022-06-27 08:16] Coobaha commented on #84
Sorry I can't just dump outputs at the moment, cause it contains private codebase data. I will try to make a reproducible example later this week. Meanwhile maybe it might help, we enforce explicit dependencies for packages, so they also have workspace packages listed in `package.json` (I assume thats why same package is logged twice in my initial message)

[2022-06-27 09:39] JamieMason commented on #84
That's understandable, no worries. If you can make a repro that would be great, at the moment I don't have enough to work with to know what it could be.

[2022-06-27 12:41] Coobaha commented on #84
Hey, here is the repro https://stackblitz.com/edit/github-nztxhj-ks9wvj?file=package.json

<img width="809" alt="image" src="https://user-images.githubusercontent.com/2446638/175943971-3b834653-7dbc-4ea8-b66d-be7c6b6e2f27.png">

[2022-07-04 11:37] dhruv-004 opened #85 "Does not use workspace protocol.?"
## Description
I have a pnpm monorepo, which when using `pnpm add` uses the workspace protocol to use the package
[code]

However `syncpack fix-mismatches` updates it to just the version and not using the workspace protocol
Like so
[code]

This is my config
[code]

## Suggested Solution

## Help Needed

Am I missing some config, or is this the desired output

[2022-07-04 15:24] JamieMason commented on #85
Hey @dhruv-004,
I think because `workspace: true` is in your config, that `1.0.0` is being read from the `value` prop of `/shared/package.json`. If you set `workspace: false` in your config it will no longer sync that for you and the `workspace:` value will remain.

I don't see any mention of `workspace:` versions in [semver](https://www.npmjs.com/package/semver)'s issues or code and syncpack does

[2022-07-06 11:44] dhruv-004 commented on #85
Awesome yes, setting `workspace: false` fixed it. Thank you

[2022-07-06 11:44] #85 closed

[2022-07-10 23:53] bombillazo opened #86 "Make syncpack configurable from the 'config' option in package.json"
## Description

Currently, when configuring `syncpack` from package.json, it is only configurable with the `syncpack` option directly in the root of the package.json file. For compatibility with the [config](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#config) option, it would be great if `syncpack` also checked for the config inside the config option.

## Suggested Solution

Have `s

[2022-07-11 00:59] bombillazo opened #87 "Add optional snapTo property in versionGroups"
## Description

Perhaps this is doable with the current configuration options but seems like it is not:

I have an autogenerated `package.json` that automatically sets some versions to `"*"`. I want to run `fix-mismatches` such that the version set on all files matches the highest **_none_** `"*"` version.

## Suggested Solution

Have a new option on `fix-mismatches` that replaces all deps with `"

[2022-07-11 01:59] bombillazo opened #88 "Set specific "package.json" in the repo as main file"
## Description

It would be great to specify one package.json file within the monorepo to act as the "main" file, meaning this file is a version driver from which all other files are resolved to. Doing so will automatically limit all other packages from raising the versions if this package.json is lower than the rest while bringing the rest to the latest version specified in this main file.

## Su

[2022-07-11 06:55] #80 closed

[2022-07-11 08:45] JamieMason commented on #86
Hey Hector, this is all handled by https://github.com/davidtheclark/cosmiconfig – not sure yet but maybe it's some option we need to pass or it's something they might add as a new feature on request.

[2022-07-11 08:58] JamieMason commented on #88
Hi Hector,
For the upcoming [`hoist`](https://github.com/JamieMason/syncpack/issues/7) feature there's the idea of a `--target` file and multiple `--source` files, but in the general case of syncing versions I think this idea in its current form could be unintuitive. Could you go into some more detail? Maybe a specific command for this use case would be clearer. Thanks.

[2022-07-11 09:17] bombillazo commented on #86
Hey, thanks for the response, here's the prop you're looking for: [packageProp](https://github.com/davidtheclark/cosmiconfig#packageprop) : ['configs', 'syncpack']

Looks like it only allows one value for package.json, it would've been nice if multiple values were could be configured.

[2022-07-11 09:24] bombillazo commented on #87
Hey, sure thing. In my specific case, some package.json files are modified by code generators within a monorepo, always generating dependencies with "*". I have other package.json files that have specific versions, so I would like to ignore "*" as the highest valid version and instead use the specific semver found in the other files. This goes a bit in hand with #88 since it would be also useful t

[2022-07-11 09:35] JamieMason commented on #87
OK I think I get it, I'll think about it for a while but right now I'm thinking maybe, a bit like `pinVersion`, there is an optional `snapTo` property of versionGroups which causes this behaviour. We'd need to think it through but on the face of it it seems like it could work.

[2022-07-11 09:36] JamieMason commented on #87
I think #87 and #88 might potentially be duplicates and we have one issue to track this one thing which handles your use case? Or are there more than one use case?

[2022-07-11 09:38] bombillazo commented on #87
I think we can track it under (this) one

[2022-07-11 09:56] JamieMason commented on #88
Closing as duplicate of #87

[2022-07-11 09:56] #88 closed

[2022-07-12 15:03] bombillazo commented on #87
@JamieMason Sorry to hi-jack this to ask: is there a way to ignore certain dependencies from being matched during `fix-mismatches`? Like keeping the version present in their respective package.json.

[2022-07-12 15:19] bombillazo commented on #87
In the case of `snapTo`, I'm thinking it can be an array of `packages` ranked by priority (first has more precedence). A dependency that matches the versionGroup will "snap" their version to the version found in the first package that has that dependency specified.

[2022-07-12 19:11] bombillazo commented on #87
What I mean was having somthing like this:
[code]
This will sync all `@myDep/**` versions within all packages to the version found in `package.json` first, if not found there, in `apps/web/package.json`, else then by the regular highest version.

[2022-07-12 19:26] JamieMason commented on #87
Although I've never been in a situation that has needed it, I could understand a single file being used as a source of truth of some sort and some kind of snapTo property might be able to support that if we decide to go ahead.

But:

1. Why would you have an array?
2.  What does the repo you're working on look like?
3. What's the workflow problem you have?
4. How does this feature potentially fix

[2022-07-12 20:12] bombillazo commented on #87
Sure,
1. An array would be to specify more than one file as fallbacks to the main "driving" file. if it were an empty array `syncpack` would behave like it now does. More than one and a loop is started to pin the version to the version found in the first file that contains package.
2. It is an Nx monorepo with very different types of apps within. I'm talking backend APIs, Front end Web apps, React

[2022-07-12 20:26] JamieMason commented on #87
Great explanation, thanks. Leave it with me a while, I've a much better idea of what's going on now.

[2022-07-12 20:41] bombillazo commented on #87
Thank you so much for your consideration and interest! Looking forward to what you can come up with 😀

[2022-07-15 09:00] #7 closed

[2022-07-15 21:36] ecraig12345 commented on #7
@JamieMason Haha thanks, though `better-deps` is definitely still early/experimental stage, and I'm not sure long-term whether it makes sense as its own tool or would be better to combine the functionality into one or more existing tools (such as syncpack). I hadn't thought about hoisting as something syncpack could handle, but I can see how that would make sense.

[2022-07-30 00:53] AkimaLunar opened #89 "Can’t get `semverRange` to work"
## Description

I have ranges in peer dependencies in my library, so wanted to use the `--semver-range` flag, as described in [syncpack#semverrange](https://github.com/JamieMason/syncpack#semverrange).

If I use a CLI flag I get an error.
[code]

[code]

Or if I use a config in my `package.json` it doesn’t seem to work.

[code]

## Suggested Solution

To sync ranges in dependencies.

## Help Neede

[2022-07-30 13:36] JamieMason commented on #89
Hi Ria,
On mobile just now but I think you just need to swap the option and command name, here are some examples from the readme 👍

[code]

I can try and help some more if you're still stuck.

[2022-08-02 12:22] benjaminhobbs opened #90 "Use of "within" in documentation is ambiguous"
## Description

The repo's documentation is a little more ambiguous than it needs to be. Particularly the word "within" is used extensively; in some places, it'd be clearer to directly say what is being compared "between" and what is "within".

For example,

"You don't want mismatches within your alpha packages, you don't want mismatches within the other packages, but you do want those groups to u

[2022-08-02 21:00] AkimaLunar commented on #89
Hmm, I am still getting the same error:

[code]

[2022-08-02 21:13] JamieMason commented on #89
Try `syncpack set-semver-ranges --semver-range "<="`

[2022-08-03 01:13] AkimaLunar commented on #89
That gives me another error 😅

[code]

I am not sure `set-semver-ranges` is the command I need though based on this description, but maybe I am wrong!

My peer dependencies look like this:

[code]
If I run `find|fix-mismatches` those dependencies get flagged and changed to ^.

[code]
So I disabled peers in the `package.json` for now:

[code]

But ideally I would like to keep them in sync instead.

[2022-08-03 09:04] JamieMason commented on #89
No problem Ria, let's walk through it:

There are two parts to this, the first is where to find help about what each command and option do:

1. For any command you can see instructions by adding `--help`
1. If we run `syncpack list-mismatches --help` we will see that the `list-mismatches` command doesn't take a `--semver-range` option.
1. If you run `syncpack --help` we see a list of all commands

[2022-08-03 17:43] AkimaLunar commented on #89
Thanks for the explanation, @JamieMason! I will keep the peers disabled for now then.

[2022-08-03 17:43] #89 closed

[2022-08-03 19:27] JamieMason commented on #89
Any problems just shout 👍

[2022-08-06 16:49] jodyheavener opened #91 "Format command removes "directory" property when converting "repository" to shorthand"
## Description

The `format` command likes to convert the long-form "repository" property into the shorthand version. However in a monorepo with multiple packages, one [can use](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#repository) the "directory" property in the repository object to denote where the package lives if it's not at the root, so when the command is run it erroneously

[2022-08-06 17:18] JamieMason commented on #91
Thanks Jody, should be an easy fix. I hadn't seen the directory property before.

[2022-08-12 22:18] zomars opened #92 "Wildcards being replaced (useful for monorepos)"
## Description

Monorepo packages that uses wildcard versions `"example": "*"` are being replaced by `"example": "0.0.0"`

## Suggested Solution

Leave as it is?

## Help Needed

Is there a way to prevent this? Couldn't find anything in the README about this.

[2022-08-12 22:28] JamieMason commented on #92
It sounds like defining a server group might be what you need, this would let you define which packages should only use *

https://github.com/JamieMason/syncpack#semvergroups

[2022-08-12 23:13] zomars commented on #92
Tried adding this config but no luck still:

[code]

Still `"@alpha/example": "*"`  is being transformed to `"@alpha/example": "0.0.0"`

[2022-08-12 23:17] zomars commented on #92
Adding a custom filter works for now:

[code]

[2022-08-13 06:27] JamieMason commented on #92
If you can share a reproduction I can take a look for you

[2022-09-05 15:40] TxHawks opened #94 "pnpmOverrides option missing in verison 8.2.4"
## Description

The `--pnpmOverrides` options that was added in version `8.0.0` seems to now be missing in version `8.2.4`.

Here is the command line output (notice it's also gone from the help text):

[code]

## Suggested Solution

## Help Needed

[2022-09-05 15:46] JamieMason commented on #94
Hey @TxHawks, this was a [breaking change in v8](https://github.com/JamieMason/syncpack/blob/master/CHANGELOG.md#800-2022-05-31). Let me know if you have any more trouble.

[2022-09-05 15:49] TxHawks commented on #94
Thanks!

[2022-09-11 08:26] TxHawks commented on #94
@JamieMason Can I help with this? Any hint where in the code to look at?

[2022-09-11 08:46] JamieMason commented on #94
I've been ill since Friday so I've not had chance to look yet.

[2022-09-11 14:16] TxHawks commented on #94
Hope you feel better soon

[2022-09-13 17:46] JamieMason commented on #94
Hey Jonathan, I've had a quick look at the tests via the GitHub UI and I think I've seen a problem.

The [tests](https://github.com/JamieMason/syncpack/blob/89a5a563d1fa1bdd08c8babb11406cbe3f82d893/src/bin-fix-mismatches/fix-mismatches.spec.ts#L86-L108) and [test scenarios](https://github.com/JamieMason/syncpack/blob/c6db8786f9a117eb9d1d334edc7dfa70b036eeaf/test/scenarios/index.ts#L194-L255
) for

[2022-09-20 11:10] LudovicSterlin opened #95 "feat(versions): support workspace:* versions"
## Description

pnpm support [workspace protocol (`workspace:`)](https://pnpm.io/workspaces#workspace-protocol-workspace).
I'm using it in my monnorepo with a shared package and other packages that depend on it. When I try to use syncpack in my monorepo it raises erro on the `workspace:*` version.

This repo [LudovicSterlin/pnpm-syncpack](https://github.com/LudovicSterlin/pnpm-syncpack) is a minim

[2022-09-20 13:03] JamieMason commented on #95
Thanks @LudovicSterlin I'll take a look.

I'll know more when I look at this properly but see also #85 as it's loosely related, something in there may or may not help in the meantime.

[2022-09-20 13:26] LudovicSterlin commented on #95
Hey same for me here, I just added a `.syncpackrc.yaml` with just this line:
[code]

And no error any more. Thanks a lot 👍 🥳

---

However, to be a little picky I don't find very intuitive to set `workspace: false` while I'm still using locally developed package.

Also now, the comportment with this setting may cause conflict for people having mixed version and workspace protocol (not my case just

[2022-09-21 07:42] LudovicSterlin commented on #95
Yeah for sure, I just updated a bit the repo so if someone stumbles on it there is the right link for them to come back here.

[2022-09-26 23:48] dsilvasc opened #96 "versionGroup.dependencyTypes takes "peerDependencies" instead of documented "peer""
## Description

The readme says `versionGroup.dependencyTypes` accepts "peer" as a value.  In this example, I have a violation this should catch but doesn't:

[code]

[code]

Syncpack catches the mismatch if I use "peerDependencies" instead:

[code]

[code]

## Suggested Solution

Either update the readme to say it should be peerDependencies, or update the versionGroup handler to handle "peer", or

[2022-09-26 23:56] dsilvasc opened #97 "How to only check packages listed in versionGroups -- or how to have versionGroups match packages beyond the syncpackrc filter property?"
## Description

Right now if you specify version groups with specific packages and/or with package patterns (with wildcards), syncpack still checks all packages unless you list each package again in the `filter` property of syncpackrc.  Eventually, if you want to only match packages in version groups, the filter regex gets fairly unwieldy.

If there were a way to only check packages included in ve

[2022-09-27 00:02] dsilvasc commented on #97
Likewise for the top level `dev`, `peer`, `prod` properties in syncpackrc.

[2022-09-27 07:53] JamieMason commented on #96
Thanks a lot @dsilvasc, you're right. This is a mistake in the readme and should be `peerDependencies`.

[2022-09-27 07:56] JamieMason commented on #90
Thanks @benjaminhobbs, will take a look and revise.

[2022-09-27 08:13] JamieMason commented on #97
Thanks @dsilvasc, could you make a small repro to demonstrate this please? I'll need to see the scenario you're facing so I can dig into it.

Dependencies are assigned to versionGroups in https://github.com/JamieMason/syncpack/blob/c6db8786f9a117eb9d1d334edc7dfa70b036eeaf/src/lib/get-input/get-instances.ts#L34

_In theory_ it shouldn't be possible for a given dependency to belong to more than one

[2022-09-27 14:07] dsilvasc commented on #96
Updating that in https://github.com/JamieMason/syncpack/pull/98

[2022-09-27 14:34] dsilvasc commented on #97
Here's a repro: https://github.com/dsilvasc/repro-syncpack-97

Expected:

[code]

Actual:

[code]

[2022-10-07 18:14] darklight9811 opened #99 "Syncpack doesn't respect editorconfig"
## Description

Syncpack doesn't indents/formats the package json based on the .editorconfig options

## Suggested Solution

It should read from editorconfig or eslint to format the package json properly

[2022-10-27 16:36] muravjev opened #100 "syncpack doesn't respect package.json 'repository' and 'bugs' fields"
## Description

1. Create **package.json** with extended fields `repository` and `bugs` as in:

[code]
2. Run `syncpack format`

3. Syncpack changes `repository` and `bugs` fields to the following values:

[code]

## Summary

*Shortening* of the `bugs` field is may be appropriate (as *syntax sugar*), though some people may not like it.

*Shortening* of the `repository` field, especially if it cont

[2022-10-27 16:51] JamieMason commented on #100
Great report @muravjev, thanks. See also #91 which is quite similar. Will pick this up when I next work on syncpack.

[2022-10-28 06:20] muravjev commented on #100
Thank you! I haven't checked existing issues :(

@JamieMason, what do you think if syncpack will add `formatters` config option, that can be used (and the default value of it now) would be like this

[code]
- simplifyUrl - turns object with `url` subfield into just url string
- shortenUrl - shortens url string by trimming  'https://github.com/' substring.

Though it would be hard coded now, but it

[2022-10-28 06:54] muravjev commented on #91
@JamieMason, what do you think if syncpack will add `formatters` config option, that can be used (and the default value of it now) would be like this

[code]
- simplifyUrl - turns object with `url` subfield into just url string
- shortenUrl - shortens string by trimming  'https://github.com/' substring.

Though it would be hard coded now (formatters: `simplifyUrl`, `shortenUrl`), but it will be hi

[2022-10-28 12:11] #91 closed

[2022-10-28 12:11] #96 closed

[2022-10-28 12:14] JamieMason commented on #91
Fixed by @jodyheavener in [8.2.5](https://github.com/JamieMason/syncpack/releases/tag/8.2.5)

[2022-10-28 12:18] JamieMason commented on #100
The directory part is fixed in [8.2.5](https://github.com/JamieMason/syncpack/releases/tag/8.2.5).

I think based on the above, this issue can be closed too. I don't think there'll be much demand for this to be configurable.

Thanks again @muravjev for your great input.

[2022-10-28 12:18] #100 closed

[2022-10-28 12:32] JamieMason commented on #86
Had a quick look at this just now @bombillazo, what it would need is for syncpack to run cosmiconfig a 2nd time if `result` is `null` the first time.

https://github.com/JamieMason/syncpack/blob/2d9516f02b579ecb9ebc1c632ae4db997d796312/src/lib/disk.ts#L31

I'll lower the priority on this rather than close it, as I can see why it would be desirable. But a relative minority of users would use it, wh

[2022-10-28 13:05] JamieMason commented on #97
Hey @dsilvasc, I just took a look at the repro. As I think you might have mentioned: `filter` applies globally, when it is set then only packages whose names match that RegEx will be included.

I just want to check before I do it, would something like this work for you?

[code]

What this would do is create a catch-all version group which ignores every package which does not match any of the prece

[2022-10-28 13:09] JamieMason commented on #92
Closing as blocked but please reopen with a repro if you find the time.

[2022-10-28 13:09] #92 closed

[2022-10-28 15:10] bombillazo commented on #86
Sure, one recommendation I could give is to directly read the package.json file and see which keys exist before running  cosmiconfig:

[code]

[2022-10-28 15:28] JamieMason commented on #86
Yeah, good shout 👍🏻

[2022-10-28 16:00] #94 closed

[2022-10-28 16:00] #84 closed

[2022-10-28 16:00] #86 closed

[2022-10-28 16:03] JamieMason commented on #86
Released in [8.3.8](https://github.com/JamieMason/syncpack/releases/tag/8.3.8), thanks a lot.

[2022-10-28 16:03] JamieMason commented on #84
Released in [8.3.8](https://github.com/JamieMason/syncpack/releases/tag/8.3.8), thanks a lot.

[2022-10-28 16:03] JamieMason commented on #94
Released in [8.3.8](https://github.com/JamieMason/syncpack/releases/tag/8.3.8), thanks a lot.

[2022-10-28 16:16] dsilvasc commented on #97
Hi @JamieMason, thank you for looking at this -- I think that new flag does capture it.

[2022-10-28 16:18] muravjev commented on #100
@JamieMason, Thank you, for your job. I'm fine with changes you've made!

P.S. Sorry to bother you, but just imagine if you stick with `formatters` approach, then `sortAz` would became also a `formatter` and default config could look like this:

[code]

Isn't it really cool?  :)))

Implement any `formatter` you would like and it could be applied to any field in config.

May be some day, new requir

[2022-10-28 16:36] JamieMason commented on #100
Thanks @muravjev.

The kinds of formatters needed haven't changed very much since working on syncpack, so it's not something I need to optimise for just now. If in the future I find I'm having to do a lot of manual work in this area though, I've got your idea in the back pocket I can refer to.

[2022-10-28 16:45] bombillazo commented on #86
Thank you!

[2022-10-28 17:05] JamieMason commented on #92
Actually, have a check with [8.3.9](https://github.com/JamieMason/syncpack/releases/tag/8.3.9) – I found that support for setting versions to `'*'` wasn't available in any circumstances. All other ranges were supported.

[2022-11-01 19:52] sergekh2 opened #102 "feat(format): add formatting linter"
Add -n, --dryrun option to format command and exit with 0 if there are no formatting changes, and 1 if formatting changes are required.

This will allow to check formatting in CI hooks and scripts.

[2022-11-02 16:29] Aghassi commented on #66
Hey @JamieMason , I'm really glad you added this feature! However, in the case like ours where we have some misalignment, this is breaking. Is there a way to make this opt in only for the 8.x versions going forward and have it enabled by default in 9.x? That will give folks like me time to turn it on and fix our stuff. Otherwise for now I have to operate on 8.0.0 because this feature will block ou

[2022-11-02 16:41] JamieMason commented on #66
Hey @Aghassi,
You can disable workspace either via your config file:

This might be enough:

[code]

Otherwise do:

[code]

or the command line:

[code]

Shout if I've misunderstood anything. I'm reading this that you want to skip checking workspace versions, the new `--workspace` flag.

Thanks

[2022-11-02 16:47] Aghassi commented on #66
Yep you are right! Let me add that. Just for future releases, as a consumer, it would be better if minors didn't have potentially breaking changes is all. Thanks so much! Looking forward to actually using this feature!

[2022-11-02 16:51] JamieMason commented on #66
`--workspace` was a breaking change in [7.0.0](https://github.com/JamieMason/syncpack/releases/tag/7.0.0).

[2022-11-02 17:18] Aghassi commented on #66
Hmmm.. well we were on that version so I'll look into why I tripped over it and get back to you. Maybe we are an edge case :P

[2022-11-02 17:19] JamieMason commented on #66
Yeah there could've been some regression, please make a new issue if so, thanks.

[2022-11-11 15:32] macieklad commented on #92
Hi, it seems that support for * is still broken with 8.3.9, i have created a simple repro, just run `yarn syncpack` and versions will be set to 0.0.0.

https://github.com/macieklad/syncpack-repro

[2022-11-11 15:34] macieklad opened #103 "Wildcard semver range not working"
Related to #92 - the behaviour is still the same, specifying "semverRange" as "*" does not work.

[2022-11-23 23:23] #97 closed

[2022-11-23 23:30] JamieMason commented on #97
This was released in [8.4.10](https://github.com/JamieMason/syncpack/releases/tag/8.4.10), any problems let me know 👍🏻

[2022-11-24 21:40] JamieMason commented on #92
I don't know what commands you guys are running (whether they're the version-related commands or the semver range commands) but looking at https://github.com/macieklad/syncpack-repro @macieklad I think the problem is that [workspace is enabled by default](https://github.com/JamieMason/syncpack#dev-peer-prod-resolutions-overrides-pnpmoverrides-and-workspace), so it is using the versions of your own

[2022-11-24 21:42] JamieMason commented on #103
I'll close this as a duplicate for now and we can continue the conversation on #92. If we identify any new issues we can reopen or create issues then as needed.

[2022-11-24 21:42] #103 closed

[2022-11-25 03:44] dsilvasc commented on #97
Thank you!

[2022-11-25 14:50] macieklad commented on #92
That is a great clarification, I have missed that option entirely, thank you! The repo is working as intended now :>  I think your answer will clarify it for others if they will stumble upon that again.

[2022-11-30 08:58] codybrouwers opened #104 "Please publish 8.4.10 to npm"
## Description

Thanks for the great package! I'm setting it up and was trying to use the `isIgnored` feature but realized that 8.4.10 hasn't been published to npm yet. Could you get that pushed up when you get a chance?

Thank you!

[2022-11-30 09:41] JamieMason commented on #104
It should be there now @codybrouwers 👍🏻 thanks.

[2022-11-30 09:41] #104 closed

[2022-11-30 20:58] markmartirosian opened #105 "8.4.10 regression"
## Description

`syncpack set-semver-ranges --dev --prod --source package.json` does nothing on `8.4.10`, works on `8.3.9`.

[2022-11-30 21:29] JamieMason commented on #105
It's working fine for me, will need some more information if I'm to be able to help you.

[2022-11-30 23:16] markmartirosian commented on #105
@JamieMason just reproduced with https://github.com/escapace/typescript-library-starter

added `^` or `~` to any `devDependency`

[code]

No changes to `package.json` with `8.4.10`.

[code]

`^` or `~` removed from `package.json`.

[code]